@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

* {margin:0; padding:0}
#main-wrapper {width:100%; overflow:hidden;}
.post_article {position:relative; text-align:center; font-family: 'Noto Sans KR', sans-serif; color:#000; letter-spacing: -0.5px;}
.txtBold400 {font-weight:400;}
.txtBold500 {font-weight:500;}
.txtBold600 {font-weight:600;}
.txtBlue {color:#0079c2;}
.one-line {float:left;}
.cycle {position:absolute; top:-61px; left:50%; margin-left:-54.5px; z-index:1000;}
.logo_fix {position:fixed; top:90px; right:1%; z-index:10000;}
.hidePc {display:block;}
.hideM {display:none;}

.post-header {width:100%; min-height:697px; background:transparent; position:relative;}
.post-header .post-text {position:relative;}
.post-header #typewriter1 {position:absolute; top:0; left:0;}
.post-header #typewriter2 {position:absolute; top:75px; left:0;}
.post-header .post-header-content {width:880px; margin:0 auto; padding: 50px 50px 0; text-align:left; font-size:54px; line-height:1.35em; letter-spacing:-1.5px; font-weight:300; color:#fff;}
.post-header .post-main-text {font-size:70px; font-weight:600; margin-top:130px;}
#typewriter1 img {vertical-align:middle;}

.post-contents02 {width:100%; height:422px; background:#fff;}
.post-contents02 .post-text {padding-top:25px;}
.post-contents02 .post-text h1 {color:#0079c2; font-size:45px; line-height:2; font-weight:400; letter-spacing:-2px;}
.post-contents02 .post-main-text {color:#616161; font-size:18px; letter-spacing:0.7px; line-height:1.75; font-weight:400; margin-top:15px;}

.post-contents03 {min-height:830px; background: transparent; width:100%;}

.post-contents04 {width:100%; position:relative;}
.post-contents04 .post-text {width:845px; margin:0 auto; padding:85px 0 75px; overflow:hidden;}
.post-contents04 .post-text .post-left {float:left;}
.post-contents04 .post-text .post-right {float:right; text-align:left; margin-top:145px; font-size:18px; color:#616161; line-height:1.7;}
.post-contents04 .post-text .post-right h1 {font-size:45px; color:#0079c2; line-height:1.5;}
.post-contents04 .post-text .post-right h2 {font-size:24px; color:#0079c2; line-height:1; margin:0; padding:0; font-weight:400;}
.post-contents04 .post-text .post-right p {margin-top:5px;}
.post-contents04 .post-text .post-right .intro {margin-top:15px;}

.swiper-container,
.swiper-wrapper,
.swiper-slide,
.swiper-slide-box {width:100%;}
.swiper-slide-box img {width:100%;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next, .swiper-button-next, .swiper-container-rtl .swiper-button-prev {background:none;}
.swiper-button-prev:before, .swiper-button-next:before {opacity:0;}

.post-contents05 {width:100%; background:#0079c2; color:#fff;}
.post-contents05 .post-text {width:810px; margin:0 auto; padding:50px 0; overflow:hidden;}
.post-contents05 .post-text .post-left {float:left; font-size:30px; font-weight:500;}
.post-contents05 .post-text .post-right {float:right; text-align:left; font-size:18px; font-weight:300; line-height:1.7; margin-top:35px;}
.post-contents05 .post-text .post-left .epi_title {margin-top:65px;}
.swiper1 .swiper-button-next,
.swiper1 .swiper-button-prev {margin-top:0; top:115px;}
.swiper1 .swiper-button-prev,
.swiper1 .swiper-container-rtl .swiper-button-next {left:20%;}
.swiper1 .swiper-button-next,
.swiper1 .swiper-container-rtl .swiper-button-prev {right:20%;}

.post-contents06 {width:100%; position:relative; background:#fff;}
.post-contents06 .cycle {top:-100px;}
.post-contents06 .post-text {width:1005px; margin:0 auto; padding:85px 0 75px; overflow:hidden;}
.post-contents06 .post-text .post-left {float:left; width:493px;}
.post-contents06 .post-text .post-right {float:right; text-align:left; width:430px; font-size:18px; color:#616161; line-height:1.7; position:relative;}
.post-contents06 .post-text .post-right .txtMove {font-size:30px; color:#0079c2; line-height:1.4; margin-bottom:30px; font-family: 'Noto Serif KR', sans-serif; position:absolute; top:0; left:0;}
.post-contents06 .post-text .post-right .intro {margin-top:300px;}
.post-contents06 .post-text .post-right .intro img {margin-bottom:15px; display:block}
#typewriter8 {margin-top:15px;}

.post-contents07 {width:100%; background:transparent; min-height:299px; color:#fff;}
.post-contents07 .post-text {width:825px; margin:0 auto; padding:48px 0; overflow:hidden;}
.post-contents07 .post-text .post-left {float:left; font-size:30px; font-weight:500;}
.post-contents07 .post-text .post-right {float:right; text-align:left; font-size:18px; font-weight:300; line-height:1.7; margin-top:120px;}
.post-contents07 .post-text .post-left .epi_title {margin-top:65px;}

.post-contents08 {width:100%; position:relative; background:#fff;}
.post-contents08 .post-text {width:1000px; margin:0 auto; padding:85px 0 75px; overflow:hidden;}
.post-contents08 .post-text .post-left {float:left;}
.post-contents08 .post-text .post-right {font-size:31px; color:#0079c2; line-height:1.35; font-family: 'Noto Serif KR', sans-serif; float:right; text-align:left;}
.post-contents08 .post-text .post-right .intro {margin:0 0 70px; position:relative; width:415px;}
.post-contents08 .post-text .post-right .intro #typewriter9 {position:absolute; top:337px; left:0; border-bottom:1px solid #0079c2;}
u {text-decoration:none; border-bottom:1px solid #0079c2;}

.post-contents09 {min-height:910px; background: transparent; width:100%; display:block; opacity:1;}
.post-contents09 .post-text {width:940px; margin:0 auto; padding:130px 0 0; overflow:hidden;}
.post-contents09 .post-text .post-left {width:485px; float:left; text-align:right; font-size:18px; color:#616161; line-height:1.8;}
.post-contents09 .post-text .post-left .fadeIn {font-size:26px; font-weight:600; position:relative;}
.post-contents09 .post-text .post-left .fadeIn .motion_fadeIn {position:absolute; left:25px; top:0;}

.post-contents09-m {display:none;}
.post-contents09-m-1 {display:none;}

.post-contents10 {width:100%; background:url('../img/post-contents10-back.jpg') no-repeat; background-size:cover; color:#fff;}
.post-contents10 .post-text {width:888px; margin:0 auto; padding:50px 0; overflow:hidden;}
.post-contents10 .post-text .post-left {float:left; font-size:30px; font-weight:500;}
.post-contents10 .post-text .post-right {float:right; text-align:left; font-size:18px; font-weight:300; line-height:1.7; margin-top:95px;}
.post-contents10 .post-text .post-left .epi_title {margin-top:65px;}

.post-contents11 {min-height:1079px; background: transparent; width:100%;}
.post-contents11 .post-text {width:1000px; margin:0 auto; padding:85px 0 0; overflow:hidden;}
.post-contents11 .post-text u {border-bottom:1px solid #fff;}
.post-contents11 .post-text .post-left {float:left; width:595px; height:442px; background:url('../img/main11_img01.png') no-repeat; color:#fff; position:relative; padding-left:8px;}
.post-contents11 .post-text .post-left .swiper-container {width:481px; margin-top:36px; position:static;}
.post-contents11 .post-text .post-left .swiper-container p {font-size:18px; text-align:center;}
.post-contents11 .post-text .post-right {float:right; text-align:right;}
.post-contents11 .post-text .post-right .right_top {color:#fff; font-size:28px; line-height:1.5; font-family: 'Noto Serif KR', sans-serif;}
.post-contents11 .post-text .post-right .right_top .intro {margin-bottom:15px;}
.post-contents11 .post-text .post-right .right_bot {background:url('../img/main11_img02.png') no-repeat; width:332px; height:333px; margin-top:100px;}
.post-contents11 .post-text .post-right .right_bot .intro {width:260px; text-align:right; padding:65px 33px 0 0; font-size:18px; color:#fff; float:right;}
.post-contents11 .swiper-button-next,
.post-contents11 .swiper-button-prev {margin-top:0; top:190px;}
.post-contents11 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:15px; outline:none;}
.post-contents11 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:7px; outline:none;}

.post-contents12 {width:100%; padding-bottom:110px;}
.post-contents12 .post-text {width:1050px; margin:0 auto; padding:55px 0 43px; overflow:hidden; }
.post-contents12 .post-text .post-left {float:left; text-align:right; font-size:32px; font-weight:600; color:#0079c2; line-height:1.35; }
.post-contents12 .post-text .post-right {float:right; text-align:left; font-size:18px; font-weight:300; line-height:1.7; background:url('../img/main12_img01.png') no-repeat; width:573px; height:132px; padding:30px 15px 0 15px; box-sizing:border-box; letter-spacing:-1px;}
.post-contents12 .ytb_wrap {width:990px; margin:0 auto;}

.post-contents13 {width:100%; height:2510px; background:url('../img/post-contents13-back.jpg') no-repeat; background-size:cover; background-position:center; color:#fff; display:block;}
.post-contents13-m {display:none;}
.post-contents13 .post-text {width:930px; margin:0 auto; padding:100px 0 0; overflow:hidden;}
.post-contents13 .post-text .post-left {float:left; font-size:30px; font-weight:500; text-align:left; line-height:1.8;}
.post-contents13 .post-text .post-right {width:456px; height:632px; margin-top:290px; background:url('../img/main13_img02.png') no-repeat; float:right; text-align:right; font-size:18px; font-weight:400; line-height:1.7; padding:120px 40px 0 0; color:#616161; box-sizing:border-box;}
.post-contents13 .post-text .post-right .txtBold600 {font-size:26px;}
.post-contents13 .post-text2 {width:1200px; margin:0 auto; padding:660px 0 0; overflow:hidden; font-size:30px; color:#0079c2; font-family: 'Noto Serif KR', sans-serif;}
.post-contents13 .post-text2 .post-left {float:left; text-align:left;}
.post-contents13 .post-text2 .post-left .intro {line-height:1.5;}
.post-contents13 .post-text2 .post-right {float:right; text-align:right; margin-top:45px;}
.post-contents13 .post-text2 .post-right .intro {margin-bottom:10px; line-height:1.5;}

.post-contents14 {width:100%; height:784px; background:url('../img/main14.jpg') no-repeat; background-size:cover; background-position:center;}
.post-contents14 .post-text {width:1000px; margin:0 auto; padding:70px 0 0; overflow:hidden;}
.post-contents14 .post-text .post-left {width: 685px; float:left; font-size:18px; text-align:left; line-height:1.8;}
.post-contents14 .post-text .post-right {float:right; width:290px; font-size:30px; font-family: 'Noto Serif KR', sans-serif; color:#0079c2;}
.post-contents14 .post-text .post-right .txtBold600 {font-size:40px;}
.post-contents14 .post-text .post-right .intro {position:relative; text-align:left; padding-bottom:40px;}
.post-contents14 .post-text .post-right .intro #typewriter10 {position:absolute; top:0; left:0; border-bottom:1px solid #0079c2;}
.post-contents14 .post-text .post-right .intro #typewriter11 {position:absolute; top:48px; left:85px; border-bottom:1px solid #0079c2;}
.post-contents14 .post-text .post-right .intro #typewriter12 {position:absolute; top:95px; left:85px; border-bottom:1px solid #0079c2;}
.post-contents14 .post-text .post-right .intro #typewriter13 {position:absolute; top:150px; left:60px; border-bottom:1px solid #0079c2;}

#typewriter1,
#typewriter2,
#typewriter3,
#typewriter4, 
#typewriter5,
#typewriter6,
#typewriter7,
#typewriter8,
#typewriter9,
#typewriter10,
#typewriter11,
#typewriter12,
#typewriter13,
.post-contents04 .motion_fadeIn,
.post-contents09 .motion_fadeIn,
.post-contents09-m-1 .motion_fadeIn,
.post-contents13 .motion_fadeIn,
.post-contents13-m .post-text .motion_fadeIn,
.post-contents13-m .post-text2 .motion_fadeIn {opacity:0;}


@media (max-width:1550px) {
  .swiper1 .swiper-button-prev, .swiper1 .swiper-container-rtl .swiper-button-next {left:5%;}
  .swiper1 .swiper-button-next, .swiper1 .swiper-container-rtl .swiper-button-prev {right:5%;}
  .post-contents13 .post-text2 {width:1150px;}
}

@media (max-width:1200px) {
  .post-contents13 .post-text2 {font-size:26px; width:1040px;}
}

@media (max-width:1100px) {
  .post-contents13 .post-text2 {font-size:22px; width:960px;}
  .swiper1 .swiper-button-prev, .swiper1 .swiper-container-rtl .swiper-button-next {left:2%;}
  .swiper1 .swiper-button-next, .swiper1 .swiper-container-rtl .swiper-button-prev {right:2%;}

  .post-contents11 .post-text {padding:30px 30px 0; width:auto;}
  .post-contents11 .post-text .post-left {float:none; margin:0 auto; padding:40px 0 0 8px;}
  .post-contents11 .post-text .post-left .swiper-container {margin-top:0}
  .post-contents11 .post-text .post-right {float:none; margin:0 auto; width:400px;}
  .post-contents11 .post-text .post-right .right_top {font-size:24px;}
  .post-contents11 .post-text .post-right .right_top .intro {margin-bottom:5%;}
  .post-contents11 .post-text .post-right .right_bot {margin:20px auto 0;}

  .post-contents12 {padding-bottom:70px;}
  .post-contents12 .post-text {width:auto; padding:50px 0 30px;}
  .post-contents12 .post-text .post-left {float:none; width:500px; margin:0 auto;}
  .post-contents12 .post-text .post-right {float:none; margin:0 auto;}
  .post-contents12 .ytb_wrap {width:90%;}

  .post-contents13 .post-text {width:auto; padding:70px 50px 0;}

  .post-contents14 .post-text {width:auto; padding:60px 50px 0;}
}

@media (max-width:1000px) {
  .post-contents04 .post-text {width:auto;}
  .post-contents04 .post-text .post-left {float:none;}
  .post-contents04 .post-text .post-right {float:none; width:350px; margin:50px auto 0;}

  .post-contents05 .post-text {width:auto;}
  .post-contents05 .post-text .post-left {float:none;}
  .post-contents05 .post-text .post-right {float:none; margin:40px auto 0; width:550px;}
  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {top:230px;}

  .post-contents06 .post-text {width:auto; padding:40px 0 75px;}
  .post-contents06 .post-text .post-left {float:none; width:493px; margin:0 auto;}
  .post-contents06 .post-text .post-right {float:none; margin:0 auto;}
  .post-contents06 .post-text .post-right .txtMove {top:-300px;}

  .post-contents07 .post-text {width:auto;}
  .post-contents07 .post-text .post-left {float:none;}
  .post-contents07 .post-text .post-right {float:none; width:450px; margin:30px auto 0;}

  .post-contents08 .post-text {width:auto;}
  .post-contents08 .post-text .post-left {float:none;}
  .post-contents08 .post-text .post-right {float:none; width:430px; margin:50px auto 0;}

  .post-contents09 .post-text {width:auto; padding:130px 30px 0;}

  .post-contents10 .post-text {width:auto;}
  .post-contents10 .post-text .post-left {float:none;}
  .post-contents10 .post-text .post-right {float:none; width:590px; margin:30px auto 0;}

  .post-contents11 .post-text .post-right {padding-bottom:20px;}

  .post-contents13 .post-text2 {width:auto; padding:660px 20px 0;}

  .post-contents14 .post-text .post-left {width:auto;}
}

@media (max-width:767px) {
  .hidePc {display:none;}
  .hideM {display:block;}
  .logo_fix {top:12%; right:2.5%;}
  .post-header {padding:0;}
  .post-header .post-header-content {width:500px; margin:0 auto; padding-top:13%; font-size:50px;}
  .post-header .post-main-text {font-size:64px;}

  .post-contents02 .post-text h1 {font-size:40px;}
  .post-contents02 .post-text {padding-top:5%;}
  .post-contents02 .post-main-text {text-align:left; margin-top:0; padding:5%;}

  .post-contents04 .post-text {padding:8% 0;}
  .post-contents04 .post-text .post-right {text-align:center;}

  .post-contents04 .post-text .post-right {width:320px;}
  .post-contents04 .post-text .post-right .intro {margin-top:3%; text-align:left;}
  .post-contents04 .post-text .post-right .motion_fadeIn {text-align:left;}

  .post-contents05 .post-text {padding:7% 0;}
  .post-contents05 .post-text .post-left {font-size:40px;}
  .post-contents05 .post-text .post-left .epi_title {margin-top:0;}
  .post-contents05 .post-text .post-right {margin:4% auto 0;}
  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {display:block; top:72%;}
  .swiper3 .swiper-button-next, .swiper3 .swiper-button-prev {display:block;}

  .post-contents06 .post-text {padding:2% 0 7%;}
  .post-contents06 .post-text .post-right .txtMove {text-align:center; width:100%;}
  .post-contents06 .post-text .post-right .intro img {margin:0 auto 5%;}

  .post-contents07 .post-text {padding:7% 0;}
  .post-contents07 .post-text .post-left {font-size:40px;}
  .post-contents07 .post-text .post-left .epi_title {margin-top:0;}
  .post-contents07 .post-text .post-right {margin:4% auto 0;}

  .post-contents08 .post-text .post-right {width:405px; margin:7% auto 0; text-align:center;}

  .post-contents09 {display:none; opacity:0;}
  .post-contents09-m {display:block; min-height:527px; background: transparent; width:100%;}
  .post-contents09-m-1 {display:block; background:#fff;}
  .post-contents09-m-1 .post-text {padding:40px 5%; overflow:hidden;}
  .post-contents09-m-1 .post-text .post-left {width:100%; text-align:left; font-size:18px; color:#616161; line-height:1.8;}
  .post-contents09-m-1 .post-text .post-left .fadeIn {font-size:22px; font-weight:600; position:relative; text-align:left; margin-left:120px;}
  .post-contents09-m-1 .post-text .post-left .fadeIn .motion_fadeIn {position:absolute; left:-120px; top:0;}

  .post-contents10 .post-text {padding:7% 0;}
  .post-contents10 .post-text .post-left {font-size:40px;}
  .post-contents10 .post-text .post-left .epi_title {margin-top:0;}

  .post-contents11 .post-text {padding:5% 5% 0;}
  .post-contents11 .post-text .post-left {padding:5.5% 0 0 8px;}
  .post-contents11 .post-text .post-right {padding-bottom:5%;}
  .post-contents11 .post-text .post-right .right_top {text-align:center;}

  .post-contents12 .post-text .post-left {width:435px; text-align:left;}
  .post-contents12 .post-text .post-right {padding:35px 15px 0 15px;}

  .post-contents13 {display:none;}
  .post-contents13-m {display:block;}
  .post-contents13-m .post-text .post-left {background:url('../img/post-contents13-back-m.jpg') no-repeat; background-size:cover; text-align:center;  width:100%; font-size: 40px; font-weight: 500; color:#fff; padding: 10% 0 15% 0; box-sizing: border-box; letter-spacing:3px;}
  .post-contents13-m .post-text .post-left p {margin-top:0;}
  .post-contents13-m .post-text .post-left img {width:220px;}
  .post-contents13-m .post-text .post-right {background:#fff; font-size: 18px; padding: 7% 5%; text-align: right; color:#616161; position:relative;}
  .post-contents13-m .post-text .post-right .txtBold600 {font-size:22px;}
  .post-contents13-m .con_img {width:100%;}
  .post-contents13-m .con_img img {width:100%;}
  .post-contents13-m .post-text2 {width:100%; background:#fff;}
  .post-contents13-m .post-text2 .post-left {padding:7% 0; text-align:center; font-size:24px; color:#0079c2; font-family: 'Noto Serif KR', sans-serif}
  .post-contents13-m .post-text2 .post-left .intro {margin-bottom:20px;}

  .post-contents14 .post-text {padding:35px 50px 0;}
  .post-contents14 .post-text .post-right {float:none; margin:150px auto 0;}
  .post-contents14 .post-text .post-right .intro #typewriter11 {left:48px;}
  .post-contents14 .post-text .post-right .intro #typewriter12 {left:48px;}
  .post-contents14 .post-text .post-right .intro #typewriter13 {left:35px;}
}

@media (max-width:680px) {
  .post-contents02 {height:460px;}

  .post-contents05 .post-text {width:100%;}
  .post-contents05 .post-text .post-right {width:88%;}

  .post-contents06 .post-text .post-left {width:85%;}

  .post-contents07 .post-text {width:100%;}
  .post-contents07 .post-text .post-right {width:88%;}

  .post-contents10 .post-text {width:100%;}
  .post-contents10 .post-text .post-right {width:88%;}

  .post-contents11 .post-text .post-left {width:480px; height:357px; background-size:480px 357px; padding:27px 0 0 8px;}
  .post-contents11 .post-text .post-left .swiper-container {width:390px;}
  .post-contents11 .post-text .post-left .swiper-container p {margin-top:20px; font-size:15px;}
  .post-contents11 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:2px;}
  .post-contents11 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:8px;}
  .post-contents11 .swiper-button-next, .post-contents11 .swiper-button-prev {top:150px;}

  .post-contents12 .post-text {padding:50px 0 60px;}
  .post-contents12 .post-text .post-right {width: 480px; height: 111px; background-size: 480px 111px;}

  .post-contents13 .post-text .post-right {padding:135px 40px 0 40px;}
  

}

@media (max-width:580px) {
  .post-header .post-header-content {font-size:44px; line-height:1em;}
  .post-header .post-main-text {font-size:56px;}
  .post-header #typewriter1 img {width:45%;}

  .post-contents02 .post-text h1 {font-size:34px;}

  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {top:74.5%; width:5%;}

  .post-contents08 .post-text .post-left {padding:0 7%;}

  .post-contents12 .post-text .post-left {width:400px; font-size:30px;}
}

@media (max-width:550px) {
  .post-header .post-header-content {font-size:40px; line-height:0.5em;}
  .post-header .post-main-text {font-size:50px;}
  .post-header #typewriter1 img {width:43%;}

  .post-contents11 .post-text .post-left {width:420px; height:312px; background-size:420px 312px;}
  .post-contents11 .post-text .post-left .swiper-container {width:320px;}
  .post-contents11 .swiper-button-next, .post-contents11 .swiper-button-prev {top:130px;}
  .post-contents11 .post-text .post-left .swiper-container p {font-size:12.5px;}

  .post-contents12 .post-text .post-right {width: 440px; height: 101px; background-size: 440px 101px;}

  .post-contents13 .post-text {padding:67px 0 0;}
  .post-contents13 .post-text .post-left {padding-left:10%;}
  .post-contents13 .post-text .post-right {width:420px; height:582px; background-size:420px 582px; padding:100px 40px 0 40px; margin:290px auto 0; float:none;}
}

@media (max-width:480px) {
  .logo_fix {width:70px;}
  .post-header {min-height:640px;}
  .post-header .post-info {width:100px; margin-bottom:0}
  .post-header .post-header-content {font-size:30px; padding-top:85px;}
  .post-header #typewriter1 img {width:140px;}
  .post-header #typewriter2 {top:50px;}
  .post-header .post-main-text {font-size:38px; margin-top:100px;}
  .post-header .post-header-content {width:290px;}

  .swiper-container,
  .swiper-wrapper,
  .swiper-slide,
  .swiper-slide-box {background:#fff;}
  .post-contents11 .swiper-container,
  .post-contents11 .swiper-wrapper,
  .post-contents11 .swiper-slide,
  .post-contents11 .swiper-slide-box {background:transparent;}
  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {top:78%;}

  .post-contents02 .post-main-text {font-size:20px; line-height:1.3;}

  .post-contents03 {min-height:535px;}

  .post-contents04 .post-text {padding:50px 0;}
  .post-contents04 .post-text .post-left {width:320px; margin:0 auto;}
  .post-contents04 .post-text .post-right h1 {font-weight: 600; font-size:38px;}
  .post-contents04 .post-text .post-right {width:90%;}
  .post-contents04 .post-text .post-right img {width:100%;}

  .post-contents05 .post-text {padding:50px 0;}
  .post-contents05 .post-text .post-left {text-align: left;  width:310px;  margin: 0 auto; font-size: 45px; font-weight: 600;}
  .post-contents05 .post-text .post-left img {width:220px;}
  .post-contents05 .post-text .post-right {margin:35px auto 0;}

  .post-contents06 .post-text .post-right .txtMove {font-size:24px; top:-270px;}
  .post-contents06 .post-text .post-right .intro {padding:0 5%;}
  .post-contents06 .post-text .post-right .intro img {width:100%;}

  .post-contents07 .post-text {padding:50px 0;}
  .post-contents07 .post-text .post-left {text-align: left;  width:290px;  margin: 0 auto; font-size: 40px; font-weight: 600;}
  .post-contents07 .post-text .post-left img {width:220px;}
  .post-contents07 .post-text .post-right {margin:35px auto 0;}

  .post-contents08 .post-text {padding:50px 0 75px;}
  .post-contents08 .post-text .post-right {font-size:24px;}

  .post-contents08 .post-text .post-right .intro #typewriter9 {top: 260px; left: 55px;}

  .post-contents09-m {min-height:427px;}

  .post-contents10 .post-text {padding:50px 0;}
  .post-contents10 .post-text .post-left {text-align: left;  width:290px;  margin: 0 auto; font-size: 40px; font-weight: 600;}
  .post-contents10 .post-text .post-left img {width:220px;}
  .post-contents10 .post-text .post-right {margin:35px auto 0;}

  .post-contents11 .post-text .post-left {width:100%; height:auto; background-size:100%; padding:7% 0 2% 2%;}
  .post-contents11 .post-text .post-left .swiper-container {width:78%;}
  .post-contents11 .post-text .post-right {padding:8% 0;}
  .post-contents11 .post-text .post-left .swiper-container p {font-size:14px; line-height:1.4; margin-top:5%;}

  .post-contents12 {background:#fff;}
  .post-contents12 .post-text {padding:10% 0;}
  .post-contents12 .post-text .post-left {background:url('../img/post-contents12-back.png') no-repeat; background-size:100%; width:85%; font-size:24px;}
  .post-contents12 .post-text .post-right {background:transparent; width: 100%; height: auto; text-align: right;  padding: 0 10%;}

  .post-contents13-m .post-text .post-left {text-align:left;  width:100%; font-size: 40px; font-weight: 600; color:#fff; padding: 13% 0 12% 18%; box-sizing: border-box; letter-spacing:3px;}
  .post-contents13-m .post-text .post-left p {margin-top:0;}
  .post-contents13-m .post-text .post-left img {width:220px;}
  .post-contents13-m .post-text .post-right .cycle {left:84%;}

  .post-contents14 {background: url('../img/post-contents14-back-m.jpg') no-repeat; background-size:cover; height:902px;}
  .post-contents14 .post-text {padding:12% 7% 15%; color:#616161; box-sizing:border-box;}
  .post-contents14 .post-text .post-right {margin:55% auto 0; width:258px; font-size:28px;}
  .post-contents14 .post-text .post-right .intro {line-height:1.25;}
  .post-contents14 .post-text .post-right .intro #typewriter11 {left:40px; top:40px;}
  .post-contents14 .post-text .post-right .intro #typewriter12 {left:40px; top:80px;}
  .post-contents14 .post-text .post-right .intro #typewriter13 {left:20px; top:140px;}
  .post-contents14 .post-text .post-right .txtBold600 {font-weight:400;}
}

@media (max-width:420px) {
  .post-contents06 .post-text .post-right {width:100%;}
  .post-contents06 .post-text .post-right .txtMove {left:50%; margin-left:-155px; width:310px;}
  .post-contents06 .post-text .post-right .intro {padding:0 7% 0 5%; width:100%; box-sizing:border-box;}

  .post-contents08 .post-text .post-right {width:100%;}
  .post-contents08 .post-text .post-right .intro {width:100%;}

  .post-contents11 .post-text {padding:5% 8% 0;}
  .post-contents11 .post-text .post-left .swiper-container {width:75%;}
  .post-contents11 .swiper-button-next, .post-contents11 .swiper-button-prev {top:115px;}
  .post-contents11 .post-text .post-right {width:100%;}
}

@media (max-width:380px) {
  .post-header {min-height:480px;}
  .post-contents02 .post-main-text {font-size: 18px; line-height: 1.5;}
  .post-contents02 .post-text h1 {font-size:30px;}
  .post-contents03 {min-height:420px;}

  .post-contents08 .post-text {padding:50px 0 30px}
  .post-contents08 .post-text .post-right .intro #typewriter9 {left:40px;}
  .post-contents08 .post-text .post-right .intro {margin:10px 0 70px;}

  .post-contents09-m-1 .post-text .post-left .fadeIn {font-size:20px;}

  .post-contents14 .post-text .post-right {margin:65% auto 0; width: 240px; font-size: 26px;}
  .post-contents14 .post-text .post-right .txtBold600 {font-size:36px;}
  .post-contents14 .post-text .post-right .intro #typewriter13 {left:25px;}

}

@media (max-width:360px) {
  .post-header .post-header-content {padding:50px 30px 0;}

  .post-contents04 .post-text .post-right {font-size:16px;}

  .post-contents05 .post-text .post-left {font-size:36px; width:255px;}
  .post-contents05 .post-text .post-left img {width:180px;}
  .post-contents05 .post-text .post-right {font-size:18px;}

  .swiper1 .swiper-button-next, .swiper1 .swiper-button-prev {top:80%;}

  .post-contents06 .post-text .post-right {font-size:16px;}
  .post-contents06 .post-text .post-right .txtMove {font-size:22px; line-height:1.6;}

  .post-contents07 .post-text .post-left {font-size:36px; width:265px;}
  .post-contents07 .post-text .post-left img {width:180px;}
  .post-contents07 .post-text .post-right {font-size:16px;}

  .post-contents08 .post-text .post-right {font-size:22px;}

  .post-contents09-m-1 .post-text .post-left {font-size:16px;}
  .post-contents09-m-1 .post-text .post-left .fadeIn {font-size:18px; margin-left:100px;}
  .post-contents09-m-1 .post-text .post-left .fadeIn .motion_fadeIn {left:-100px;}

  .post-contents10 .post-text .post-left {font-size:36px; width:250px;}
  .post-contents10 .post-text .post-left img {width:180px;}
  .post-contents10 .post-text .post-right {font-size:16px;}


  .post-contents11 .swiper-button-next, .post-contents11 .swiper-button-prev {top:95px; width:6%;}
  .post-contents11 .swiper-button-next, .swiper-container-rtl .swiper-button-prev {right:11px;}
  .post-contents11 .swiper-button-prev, .swiper-container-rtl .swiper-button-next {left:15px;}
  .post-contents11 .post-text .post-right .right_top {font-size:22px;}
  .post-contents11 .post-text .post-right .right_bot {width:300px; height:303px; background-size:300px 303px;}
  .post-contents11 .post-text .post-right .right_bot .intro {padding:40% 26px 0 0; font-size:16px;}

  .post-contents12 .post-text .post-left {font-size:20px;}
  .post-contents12 .post-text .post-right {font-size:16px;}

  .post-contents13-m .post-text .post-left {font-size:36px;}
  .post-contents13-m .post-text .post-left img {width:180px;}
  .post-contents13-m .post-text .post-right {font-size:16px;}
  .post-contents13-m .post-text .post-right .cycle {width:80px; top:-45px;}
  .post-contents13-m .post-text .post-right .txtBold600 {font-size:20px;}
  .post-contents13-m .post-text2 .post-left {font-size:20px;}

  .post-contents14 .post-text .post-left {font-size:16px;}
  .post-contents14 .post-text .post-right {font-size:24px; width:220px; margin:55% auto 0;}
  .post-contents14 .post-text .post-right .txtBold600 {font-size:34px;}
}

@media (max-width:340px){
  .post-header .post-header-content {font-size:26px;}
  .post-header #typewriter1 img {width:120px;}
  .post-header .post-main-text {font-size:33px;}

  .post-contents02 {height:420px;}
  .post-contents02 .post-main-text {font-size:17px;}
  .post-contents02 .post-text h1 {font-size:27px;}

  .post-contents04 .post-text .post-left {width:84%;}

  .post-contents04 .post-text .post-right h1 {font-size:34px;}
  .post-contents04 .post-text .post-right h2 {font-size:22px;}

  .post-contents05 .post-text .post-left {font-size:32px; width:230px;}
  .post-contents07 .post-text .post-left {font-size:32px; width:240px;}

  .post-contents08 .post-text .post-right {font-size:20px;}
  .post-contents08 .post-text .post-right .intro #typewriter9 {top:234px; left:43px;}

  .post-contents10 .post-text .post-left {font-size:32px; width:225px;}

  .post-contents11 .post-text .post-left .swiper-container p {font-size:12px;}
  .post-contents11 .post-text .post-right .right_top {font-size:20px;}
  .post-contents11 .post-text .post-right .right_bot {width: 268px; height: 268px; background-size: 268px 268px; margin:45px auto 0;}
  .post-contents11 .post-text .post-right .right_bot .intro {width: 80%; padding: 38% 10% 0;font-size: 14px;}
  

  .post-contents13-m .post-text .post-left {font-size:32px;}

  .post-contents14 .post-text .post-right {margin:67% auto 0;}
  .post-contents14 .post-text .post-right .intro #typewriter13 {top:125px;}
} 