@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(https://cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);

/*
 * common
 */
* {margin:0;padding:0}
.txtBold400 {font-weight:400;}
.txtBold500 {font-weight:500;}
.txtBold600 {font-weight:600;}
.txtBlue {color:#0079c2;}
.pencil {position:absolute;top:-94px;left:50%;margin-left:-44px;z-index:1000;}
.logo_fix {position:fixed;top:90px;z-index:10000;}
.logo_fix.left {right:auto;left:1%;max-width:104px;}
.logo_fix.right {right:1%;left:auto;}
.hidePc {display:block;}
.hideM {display:none;}
.width-auto {width:auto !important;max-width:100% !important;}
.serif {font-family:'Noto Serif KR', sans-serif !important;}
.quote {position:absolute;z-index:3;}

/*
 * layout & interaction
 */
.post_article {position:relative;text-align:center;font-family:'Noto Sans KR', sans-serif;color:#000;letter-spacing:-0.5px;}
.post_article .post-text:before,
.post_article .post-text:after {content:'';display:block;clear:both;}
#main-wrapper {padding:0;width:100%;overflow:hidden;}
#typewriter1 img {vertical-align:middle;}
.post-contents .post-text {max-width:1280px;margin:0 auto;outline:1px #f00 solid;}

/*
 * swiper
 */
.swiper-container,
.swiper-wrapper,
.swiper-slide,
.swiper-slide-box {width:100%;}
.swiper-slide-box img {width:100%;}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next,
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {background:none;}
.swiper-button-prev:before,
.swiper-button-next:before {opacity:0;}
.swiper1 .swiper-button-next,
.swiper1 .swiper-button-prev {margin-top:0;top:115px;}
.swiper1 .swiper-button-prev,
.swiper1 .swiper-container-rtl .swiper-button-next {left:20%;}
.swiper1 .swiper-button-next,
.swiper1 .swiper-container-rtl .swiper-button-prev {right:20%;}

/*
 * contents
 */
.post-contents01 {width:100%;min-height:1014px;background:transparent;position:relative;box-sizing:border-box;padding-bottom:0;}
.post-contents01 .parallax {background-position:center top !important;}
.post-contents01 .post-text {position:relative;}
.post-contents01 #typewriter1 {position:absolute;top:0;left:0;}
.post-contents01 #typewriter2 {position:absolute;top:75px;left:0;}
.post-contents01 .post-header-content {width:880px;margin:0 auto;padding:50px 50px 0;text-align:left;font-size:54px;line-height:1.35em;letter-spacing:-1.5px;font-weight:300;color:#fff;}
.post-contents01 .post-main-text {font-size:70px;font-weight:600;margin-top:130px;}

.post-contents02 {width:100%;height:auto;background:#fff;}
.post-contents02 .post-text {padding:25px 0 45px;text-align:center;}
.post-contents02 .post-text h1 {color:#0079c2;font-size:45px;line-height:2;font-weight:400;letter-spacing:-2px;}
.post-contents02 .post-main-text {color:#616161;font-size:18px;letter-spacing:0.7px;line-height:1.75;font-weight:400;margin-top:15px;}
.post-contents02 .post-main-text p {margin-top:0;letter-spacing:-.8px;}

.post-contents03 {min-height:830px;background:transparent;width:100%;}

.post-contents04 {width:1280px;margin:0 auto;position:relative;}
.post-contents04 .post-text {width:100%;min-height:600px;margin:0 auto;padding:0 0 30px 0;}
.post-contents04 .post-text .post-left {width:50%;height:100%;float:none;position:absolute;top:-52px;left:0;}
.post-contents04 .post-text .post-right {width:50%;height:100%;box-sizing:border-box;float:none;text-align:left;position:absolute;padding:100px 188px 0 122px;right:0;font-size:18px;color:#616161;line-height:1.7;}
.post-contents04 .post-text .post-right h1 {font-size:45px;color:#0079c2;line-height:1.5;}
.post-contents04 .post-text .post-right h2 {font-size:24px;color:#0079c2;line-height:1;margin:0;padding:0;font-weight:400;}
.post-contents04 .post-text .post-right p {margin-top:5px;}
.post-contents04 .post-text .post-right .intro {margin-top:15px;}

.post-contents05 {width:100%;color:#fff;background:url(../img/bg03.png) #0079c2 no-repeat 0 0/cover;padding-bottom:36rem;}
.post-contents05 .post-text {margin:0 auto;padding:50px 0;overflow:hidden;}
.post-contents05 .post-text.width-auto {padding:10px 0;background:rgba(255,255,255,.5);}
.post-contents05 .post-text .post-left {float:left;font-size:30px;font-weight:500;text-align:left;}
.post-contents05 .post-text .post-left .epi_title {margin-top:65px;}
.post-contents05 .post-text .post-right {float:right;text-align:left;font-size:18px;font-weight:300;line-height:1.7;margin-top:35px;}

.post-contents06 {width:100%;position:relative;background:#0079c2;color:#fff;}
.post-contents06 .post-text {margin:0 auto;padding:85px 0 75px;overflow:hidden;}
.post-contents06 .post-text .post-left {float:left;text-align:left;}
.post-contents06 .post-text .post-right {float:right;text-align:left;width:430px;font-size:18px;color:#fff;line-height:1.7;position:relative;}
.post-contents06 .post-text .post-right .txtMove {font-size:30px;color:#0079c2;line-height:1.4;margin-bottom:30px;font-family:'Noto Serif KR', sans-serif;position:absolute;top:0;left:0;}
.post-contents06 .post-text .post-right .intro {margin-top:300px;}
.post-contents06 .post-text .post-right .intro img {margin-bottom:15px;display:block;}

.post-contents07 {width:100%;background:transparent;min-height:299px;color:#fff;}
.post-contents07 .post-text {position:relative;width:100%;max-width:100%;margin:0 auto;padding:0;min-height:1224px;overflow:hidden;}
.post-contents07 .post-text .post-left {float:none;box-sizing:border-box;width:100%;height:100%;position:absolute;z-index:2;top:0;left:16.375%;background:url(../img/img-epi02-left.png) no-repeat left bottom/auto;font-size:30px;font-weight:500;}
.post-contents07 .post-text .post-left .epi_title {margin-top:65px;}
.post-contents07 .post-text .post-left .post-desc {max-width:520px;position:relative;left:0;text-align:left;color:#ccc;background-color:#fff;font-size:18px;}
.post-contents07 .post-text .post-right {float:none;width:81.8125%;max-width:1080px;height:100%;position:absolute;z-index:1;right:0;margin-top:0;font-size:18px;font-weight:300;text-align:left;line-height:1.7;background:url(../img/img-epi02-right.png) no-repeat 0 100%/100% auto;}
.post-contents07 .quote .serif {margin-top:0;line-height:1.5;}
.post-contents07 .quote-one {top:145px;left:160px;text-align:center;}
.post-contents07 .quote-one .left {margin-left:-160px;}
.post-contents07 .quote-one .right {margin-left:160px;}
.post-contents07 .quote-two {top:500px;left:135px;text-align:center;}
.post-contents07 .quote-two .left {margin-left:-150px;}
.post-contents07 .quote-two .right {margin-left:200px;}

.post-contents08 {width:100%;position:relative;background:#0079c2;color:#fff;z-index:3;margin-top:-20px;}
.post-contents08 .post-text {margin:0 auto;padding:85px 0 75px;overflow:hidden;}
.post-contents08 .post-text .post-right {float:right;font-size:18px;color:#fff;line-height:1.35;text-align:left;}
.post-contents08 .post-text .post-right .intro {margin:0 0 70px;position:relative;width:415px;}
.post-contents08 .post-text .post-right .intro #typewriter9 {position:absolute;top:337px;left:0;border-bottom:1px solid #0079c2;}
.post-contents08 .post-text .post-left {float:left;text-align:left;}

.post-contents09 {min-height:910px;background:transparent;width:100%;display:block;opacity:1;}
.post-contents09 .post-text {width:940px;margin:0 auto;padding:130px 0 0;overflow:hidden;}
.post-contents09 .post-text .post-left {width:485px;float:left;text-align:right;font-size:18px;color:#616161;line-height:1.8;}
.post-contents09 .post-text .post-left .fadeIn {font-size:26px;font-weight:600;position:relative;}
.post-contents09 .post-text .post-left .fadeIn .motion_fadeIn {position:absolute;left:25px;top:0;}
.post-contents09-m {display:none;}
.post-contents09-m-1 {display:none;}

.post-contents10 {width:100%;color:#fff;}
.post-contents10 .post-text {margin:0 auto;padding:50px 0;overflow:hidden;}
.post-contents10 .post-text .post-left {float:left;width:50%;font-size:30px;font-weight:500;box-sizing:border-box;padding:30px 88px 30px 64px;}
.post-contents10 .post-text .post-left .epi_title {margin-top:65px;}
.post-contents10 .post-text .post-right {float:right;width:50%;text-align:left;font-size:18px;font-weight:300;line-height:1.7;margin-top:95px;color:#0a6ab9;}

.post-contents11 {position:relative;width:100%;background:transparent;}
.post-contents11 .post-text.width-auto {position:relative;background-color:rgba(0,121,194,.5);padding:0;}
.post-contents11 .post-text.width-auto .post-left {width:1280px;position:relative;z-index:1;color:#fff;height:auto;padding:45px 0;text-align:left;margin:0 auto;float:none;}
.post-contents11 .post-text:not(.width-auto) {width:1280px;margin:0 auto;padding:235px 0;position:relative;}
.post-contents11 .post-text .post-desc {position:relative;z-index:1;width:470px;box-sizing:border-box;padding:50px 80px;background-color:#fff;text-align:left;}
.post-contents11 .post-text .post-desc:before {content:'';display:block;position:absolute;top:-94px;right:0;width:88px;height:94px;background:url(../img/ico-pencil-big.png) no-repeat 0 0/100% auto;}
.post-contents11 .post-text .post-desc p {margin-top:0;}

.post-contents12 {position:relative;width:100%;padding-bottom:110px;min-height:1135px;background:url(../img/bg05.png) no-repeat 0 0/100% auto;}
.post-contents12 .quote {top:130px;left:57%;text-align:center;}
.post-contents12 .quote .left {margin-bottom:10px;}
.post-contents12 .quote .right {margin-top:10px;}
.post-contents12 .quote .post-para {margin-top:0;}
.post-contents12 .quote .post-para + .post-para {margin-top:20px;}

.post-contents13 {position:relative;display:block;min-height:1135px;height:auto;background:url(../img/bg06.png) no-repeat 0 0/100% auto;color:#fff;}
.post-contents13 .post-text {margin:0 auto;padding:100px 0 0;overflow:hidden;}
.post-contents13 .post-text .post-left {float:left;font-size:30px;font-weight:500;text-align:left;line-height:1.8;}
.post-contents13 .post-text .post-right {float:right;width:456px;height:632px;margin-top:290px;padding:120px 40px 0 0;text-align:right;font-size:18px;font-weight:400;line-height:1.7;color:#616161;box-sizing:border-box;}

/*
 * media query
 */
@media (max-width:1366px) {
	.post-contents01 {background-color:palegoldenrod;}
}
@media (max-width:1024px) {
	.post-contents01 {background-color:darkblue;}
}
@media (max-width:767px) {
	.post-contents01 {background-color:aquamarine;}
	.hidePc {display:none;}
	.hideM {display:block;}
	.logo_fix {top:11%;right:2.5%;}
}
@media (min-width:320px) and (max-width:374px) {
	.logo_fix {top:13%;}
}