@charset 'utf-8';

@import 'base/reset';
@import 'lib/mixin';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

/* common */
*::selection {
	background-color: #fdde00;
}
html {
	background-color: #f4f7f6;
}
body {
	position: relative;
	overflow-x: hidden !important;
	width: 100vw;
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", "Malgun Gothic", "arial", sans-serif;
	&.menu_sm {
		.slimScrollDiv {
			.list {
				padding-right: 0;
			}
		}
	}
	&::-webkit-scrollbar {
		width: 6px;
		height: 8px;
		border: 3px solid #fff;
	}
	&::-webkit-scrollbar-track {
		background: #fff;
		-webkit-box-shadow: inset 0 0 4px rgba(120, 120, 120, 0.2);
	}
	&::-webkit-scrollbar-thumb {
		background: #d0d0d0;
	}
}
.hidden {
	overflow: hidden;
	position: absolute;
	left: -10000px;
	width: 1px;
	height: 1px;
	opacity: 0;
}

/* template custom */
.template {
	background-color: #f4f7f6;
	.sidebar {
		font-family: "Noto Sans KR", "Malgun Gothic", "arial", sans-serif;
		text-transform: uppercase;
		white-space: nowrap;
		background-color: #f4f7f6;
		.menu {
			padding: 15px 0 0;
			.list {
				padding-right: 0;
				li.active.open {
					background-color: #dfdfdf;
					a,
					span {
						&:before {
							color: #666;
						}
						color: #666;
					}
				}
				.menu-toggle {
					span {
						font-size: 12px;
						font-weight: bold;
						letter-spacing: 1px;
					}
				}
				.ml-menu {
					padding-bottom: 0;
					li {
						a {
							overflow: hidden;
							text-overflow: ellipsis;
							&:before {
								top: 10px;
							}
							span {
								margin-left: 0;
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
	.content {
		padding-top: 25px;
		margin-bottom: 0;
		.row {
			position: relative;
			.button__container {
				display: block;
				position: relative;
				bottom: 5px;
				left: 50%;
				margin-left: -60px;
			}
		}
	}
	.navbar {
		min-height: initial;
		margin: 0;
		padding: 0 15px;
		&-header {
			margin-right: 10px;
		}
		&-nav {
			* {
				vertical-align: middle;
			}
			.search_bar {
				width: auto;
				.form-control {
					&:focus {
						border: 1px #000 solid;
					}
				}
			}
			.input-group {
				margin-bottom: 0;
				padding: 13px 0;
				.form-control {
					&:focus {
						border: 1px #000 solid;
						border-right: none;
						& + .input-group-addon,
						& ~ .input-group-addon {
							border: 1px #000 solid;
							border-left: none;
						}
					}
				}
			}
		}
		&-brand {
			margin: 0;
			span {
				font-size: 12px;
				letter-spacing: 2px;
			}
		}
	}
	.menu-sm {
		text-decoration: none;
	}
	.zmdi {
		vertical-align: middle;
	}
	.waves-effect {
		border-radius: 5px;
	}
	.card {
		padding: 20px;
		box-sizing: border-box;
		&__header {
			padding: 0;
			.title {
				overflow: hidden;
				margin: 20px 0 !important;
				font-size: 18px;
				line-height: 1.5;
				font-weight: normal;
				color: #666;
				white-space: nowrap;
				text-overflow: ellipsis;
				text-decoration: none;
				&:before {
					display: none;
				}
			}
			.button {
				position: absolute;
				top: 4px;
				right: 0;
				.zmdi {
					font-size: 20px;
					color: #545454;
				}
			}
		}
		&__body {
			padding: 0;
			figure {
				background-color: #d9d9d9;
				img {
					display: block;
					margin: 0 auto;
				}
			}
		}
		&__footer {
			margin-top: 20px;
			padding: 0;
			.support {
				float: left;
				position: relative;
			}
			.zoom-in {
				float: right;
			}
			.button {
				&.information {
					.zmdi {
						font-size: 20px;
						color: #545454;
					}
				}
				&.zoom-in {
					.zmdi {
						font-size: 24px;
						color: #545454;
					}
				}
			}
		}
		&.support-active {
			.card__header,
			.card__body,
			.card__footer {
				-webkit-filter: blur(1px);
				-moz-filter: blur(1px);
				-o-filter: blur(1px);
				-ms-filter: blur(1px);
				filter: blur(1px);
			}
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border-radius: .55rem;
				background-color: rgba(0,0,0,0.5);
			}
			.support__table {
				display: block;
			}
		}
		.support__table {
			display: none;
			position: absolute;
			z-index: 2;
			top: 50%;
			left: 50%;
			padding: 10px 10px 20px;
			-webkit-transform: translate(-50%, -50%);
			-moz-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			-o-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
			background-color: #fff;
			.button {
				&.close {
					position: absolute;
					top: 16px;
					right: 15px;
					float: none;
					font-size: initial;
					line-height: initial;
					font-weight: initial;
					.zmdi {
						font-size: 24px;
						color: #000;
					}
				}
			}
		}
	}
	.tag {
		margin: 0 -2px;
		font-size: 0;
		&__item {
			display: inline-block;
			margin: 2px;
			padding: 5px 10px;
			font-size: 0;
			vertical-align: middle;
			text-align: center;
			box-sizing: border-box;
			white-space: nowrap;
			border: 1px #ececee solid;
			border-radius: 15px;
			background-color: #fff;
			box-shadow: 2px 2px 8px 0 rgba(0,0,0,0.17);

			//category
			&--main-category {
				border: none;
				background: #878787;
				.tag__text {
					text-transform: uppercase;
					color: #fff;
				}
			}
		}
		&__text {
			display: block;
			overflow: hidden;
			font-size: 11px;
			color: #787878;
			box-sizing: border-box;
			text-decoration: none;
		}
	}
	.table {
		margin: 0;
		box-sizing: border-box;
		& + .table {
			margin-top: 10px;
		}
		&__title {
			padding: 10px 0;
			font-size: 14px;
			font-weight: bold;
		}
		&__description {
			padding: 10px;
			font-size: 14px;
			background-color: #eee;
		}
		table {
			width: 100%;
			border: 2px #eee solid;
			.table__head {
				background-color: #eee;
			}
			th, td {
				text-align: center;
				vertical-align: middle;
				font-size: 12px;
			}
			th {
				word-break: break-all;
			}
			.is-false {
				display: none;
			}
		}
	}
	.video {
		position: relative;
		&__media {
			width: 100%;
		}
		&__controls {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			border: none;
			background-color: transparent;
			cursor: pointer;
			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				border-right: none;
				opacity: 1;
				-webkit-transition: opacity .35s ease-in;
				-moz-transition: opacity .35s ease-in;
				-ms-transition: opacity .35s ease-in;
				-o-transition: opacity .35s ease-in;
				transition: opacity .35s ease-in;
			}
			&:before {
				margin-top: -20px;
				margin-left: -20px;
				border-top: 20px transparent solid;
				border-bottom: 20px transparent solid;
				border-left: 40px #666 solid;
			}
			&:after {
				margin-top: -17px;
				margin-left: -18px;
				border-top: 17px transparent solid;
				border-bottom: 17px transparent solid;
				border-left: 34px #eee solid;
			}
			&--hidden {
				&:before,
				&:after {
					opacity: 0;
					-webkit-transition: opacity .35s ease-out;
					-moz-transition: opacity .35s ease-out;
					-ms-transition: opacity .35s ease-out;
					-o-transition: opacity .35s ease-out;
					transition: opacity .35s ease-out;
				}
			}
		}
	}
	.footer {
		padding: 10px 0;
		text-align: center;
		&__copyright {
			font-size: 80%;
			color: #5f5f5f;
		}
		&__link {
			color: #2c2c2c;
			text-decoration: underline;
		}
	}
	.category {
		margin-bottom: 15px;
		padding: 10px 20px;
		border: 1px #546e7a dashed;
		border-radius: .55rem;
		box-shadow: 0 5px 20px 0 rgba(0,0,0,0.03);
		background-color: #fff;
		&__list {
			margin-bottom: 5px;
			font-size: 0;
			&:last-child {
				margin-bottom: 0;
			}
			dt, dd {
				display: inline-block;
				color: #546e7a;
				font-weight: lighter;
				font-size: 12px;
			}
			dd {
				margin-left: 5px;
			}
		}
		&__name {
			position: relative;
			padding-left: 10px;
			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				width: 3px;
				height: 3px;
				margin-top: -1.5px;
				background-color: #546e7a;
			}
		}
	}

	/* break point */
	@include tablet {
		.sidebar {
			.menu {
				.list {
					padding-right: 15px;
				}
			}
		}
		.navbar {
			.navbar-brand {
				display: none;
			}
			.search_bar {
				margin-left: -20px;
			}
		}
		.content {
			.row {
				.button__container {
					bottom: 5px;
				}
			}
		}
		.tag {
			max-width: 95%;
		}
		.footer {
			margin: 0;
		}
		.table {
			table {
				table-layout: fixed;
			}
		}
	}
	@include mobile {
		.navbar {
			min-height: 66px;
			&-nav {
				.search_bar {
					max-width: 180px;
					@media screen and (max-width: 320px) {
						max-width: 150px;
					}
				}
			}
			.menu-sm {
				display: none;
			}
		}
		.sidebar {
			.menu {
				padding: 10px;
				.list {
					padding: 0;
				}
			}
		}
		.content {
			margin-top: 66px;
			margin-bottom: 0;
			.row {
				.button__container {
					bottom: 0;
				}
			}
		}
		.card {
			margin-bottom: 15px;
		}
		.tag {
			&__item {
				margin: 5px 5px 0 0;
			}
		}
	}
}

/* modal */
.modal {
	&-dialog {
		max-width: initial;
		margin: 30px;
	}
	&-content {
		height: 93vh;
	}
	&-body {
		.iframe-content {
			display: block;
			width: 100%;
			height: 83vh;
			border: none;
		}
	}

	/* break point */
	@include mobile {
		&-dialog {
			margin: 20px 15px;
		}
		&-body {
			.iframe-content {
				height: 75vh;
			}
		}
	}
}