/* iframe layout */
body {
	position: relative;
	background-color: #fafafa;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.actions {
	position: absolute;
	right: 6vw;
	bottom: 60px;
	text-align: center;
}
.btn {
	border: none;
	padding: 0.6em 1.2em;
	background: #3f51b5;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	&:focus {
		outline: none;
	}
	&:hover {
		opacity: 0.5;
	}
}
.no-js {
	.actions {
		display: none;
	}
}

/* css parallax */
.css-parallax {
	width: 100%;
	height: 100%;
	cursor: default;
	@at-root {
		* {
			margin:0;
			padding:0;
		}
		body, html {
			overflow: hidden;
		}
		body {
			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
				border: 3px solid #ffffff;
			}
			&::-webkit-scrollbar-track {
				border-radius: 10px;
				-webkit-border-radius: 10px;
				background: #ffffff;
				-webkit-box-shadow: inset 0 0 4px rgba(59, 59, 32, 0.2);
			}
			&::-webkit-scrollbar-thumb {
				width: 50px;
				height: 50px;
				border-radius: 8px;
				-webkit-border-radius: 8px;
				background: #8c8c8c;
				-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
			}
		}
	}
	.parallax {
		height: 500px; /* fallback for older browsers */
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-perspective: 300px;
		perspective: 300px;
		background: url(../img/css-parallax_background.png) repeat 0 0;
		&::-webkit-scrollbar {
			width: 8px;
			height: 8px;
			border: 3px solid #ffffff;
		}
		&::-webkit-scrollbar-track {
			border-radius: 10px;
			-webkit-border-radius: 10px;
			background: #ffffff;
			-webkit-box-shadow: inset 0 0 4px rgba(59, 59, 32, 0.2);
		}
		&::-webkit-scrollbar-thumb {
			width: 50px;
			height: 50px;
			border-radius: 8px;
			-webkit-border-radius: 8px;
			background: #8c8c8c;
			-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
		}
		&__group {
			position: relative;
			height: 500px; /* fallback for older browsers */
			height: 100vh;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
			-webkit-transition: -webkit-transform 0.5s;
			transition: transform 0.5s;
		}
		&__layer {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			&--fore {
				-webkit-transform: translateZ(90px) scale(.7);
				transform: translateZ(90px) scale(.7);
				z-index: 1;
				background: url(../img/css-parallax_foreground-layer.png) no-repeat 50% 50%;
			}
			&--base {
				-webkit-transform: translateZ(0) scale(.6);
				transform: translateZ(0) scale(.6);
				z-index: 4;
				background: url(../img/css-parallax_base-layer.png) no-repeat 50% 50%;
			}
			&--back {
				-webkit-transform: translateZ(-300px) scale(2);
				transform: translateZ(-300px) scale(2);
				z-index: 3;
				background: url(../img/css-parallax_background-layer.png) no-repeat 50% 50%;
			}
			&--deep {
				-webkit-transform: translateZ(-600px) scale(3);
				transform: translateZ(-600px) scale(3);
				z-index: 2;
				background: url(../img/css-parallax_deep-layer.png) no-repeat 50% 50%/contain;
			}
			.title {
				text-align: center;
				position: absolute;
				left: 50%;
				top: 50%;
				-webkit-transform: translate(-50%, -50%);
				transform: translate(-50%, -50%);
				font-size: 0;
			}
		}

	}

	/* id selector */
	#group1 {
		z-index: 5; /* 2번 그룹 위에 */
		.parallax__layer--base {
			background-position: 30% 70%;
		}
	}
	#group2 {
		z-index: 3; /* 1, 3번 그룹 아래ㄴ에 */
		.parallax__layer--base {
			background-position: 55% 80%;
		}
	}
	#group3 {
		z-index: 4; /* 2, 4번 그룹 위에 */
		.parallax__layer--base {
			background-position: 20% 100%;
		}
	}
	#group4 {
		z-index: 2; /* 3, 5번 그룹 아래에 */
		.parallax__layer--base {
			background-position: 10% 100%;
		}
		.parallax__layer--back {
			background-position: 100% 100%;
		}
	}
	#group5 {
		z-index: 3; /* 4, 6번 그룹 위에 */
		.parallax__layer--base {
			background-position: 75% 80%;
		}
	}
	#group6 {
		z-index: 2; /* 5, 7번 그룹 아래에 */
		.parallax__layer--base {
			background-position: 55% 80%;
		}
		.parallax__layer--back {
			background-position: 0 50%;
		}
	}
	#group7 {
		z-index: 3; /* 7번 그룹 위에 */
		.parallax__layer--base {
			background-position: 30% 60%;
		}
	}
}