/* iframe layout */
body {
	position: relative;
	background-color: #fafafa;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	cursor: pointer;
}
.actions {
	position: absolute;
	right: 10%;
	bottom: 10vh;
	text-align: center;
}
.btn {
	border: none;
	padding: 0.6em 1.2em;
	background: #3f51b5;
	color: #fff;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 1.5em;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 3px 2px;
	border-radius: 2px;
	&:focus {
		outline: none;
	}
	&:hover {
		opacity: 0.5;
	}
}
.no-js {
	.actions {
		display: none;
	}
}

/* svg */
.content {
	width: 1440px;
}