@@include('./incl/page-top.inc')
	<title>UI Lab &#124; BUTTON</title>
	<link rel="stylesheet" href="../common/css/uilab-library.css">
	<!-- Syntax highlighter -->
	<link type="text/css" rel="stylesheet" href="../common/lib/syntaxhighlighter/styles/shCoreDefault.css">
	<link type="text/css" rel="stylesheet" href="../common/lib/syntaxhighlighter/styles/shThemeDefault.css">
	<!-- //Syntax highlighter -->
</head>
<body>

	@@include('./incl/header.inc')

	<section class="components">
		<h1 class="components__title title--h1">button</h1>

		<!-- 기본 -->
		<section class="components__item">
			<h2 class="components__title title--h4">DEFAULT</h2>

			<!-- DEMO -->
			<h3 class="components__title title--h5">DEMO</h3>
			<section class="components__item--demo">
				<div class="button__group">
					<button type="button" class="button">BUTTON</button>
					<button type="button" class="button button--blue">BUTTON</button>
					<button type="button" class="button button--indigo">BUTTON</button>
					<button type="button" class="button button--purple">BUTTON</button>
					<button type="button" class="button button--pink">BUTTON</button>
					<button type="button" class="button button--red">BUTTON</button>
					<button type="button" class="button button--orange">BUTTON</button>
					<button type="button" class="button button--yellow">BUTTON</button>
					<button type="button" class="button button--green">BUTTON</button>
					<button type="button" class="button button--teal">BUTTON</button>
					<button type="button" class="button button--cyan">BUTTON</button>
				</div>
			</section>
			<!-- //DEMO -->

			<!-- CODE -->
			<h3 class="components__title title--h5">HTML</h3>
			<section class="components__item--code">
				<pre class="brush: html">
					<div class="button__group">
						<button type="button" class="button">BUTTON</button>
						<button type="button" class="button button--blue">BUTTON</button>
						<button type="button" class="button button--indigo">BUTTON</button>
						<button type="button" class="button button--purple">BUTTON</button>
						<button type="button" class="button button--pink">BUTTON</button>
						<button type="button" class="button button--red">BUTTON</button>
						<button type="button" class="button button--orange">BUTTON</button>
						<button type="button" class="button button--yellow">BUTTON</button>
						<button type="button" class="button button--green">BUTTON</button>
						<button type="button" class="button button--teal">BUTTON</button>
						<button type="button" class="button button--cyan">BUTTON</button>
					</div></pre>
			</section>
			<!-- //CODE -->
		</section>
		<!-- //기본 -->

		<!-- 아웃라인 -->
		<section class="components__item">
			<h2 class="components__title title--h4">OUTLINE</h2>

			<!-- DEMO -->
			<h3 class="components__title title--h5">DEMO</h3>
			<section class="components__item--demo">
				<div class="button__group">
					<button type="button" class="button button--outline">BUTTON</button>
					<button type="button" class="button button--outline-blue">BUTTON</button>
					<button type="button" class="button button--outline-indigo">BUTTON</button>
					<button type="button" class="button button--outline-purple">BUTTON</button>
					<button type="button" class="button button--outline-pink">BUTTON</button>
					<button type="button" class="button button--outline-red">BUTTON</button>
					<button type="button" class="button button--outline-orange">BUTTON</button>
					<button type="button" class="button button--outline-yellow">BUTTON</button>
					<button type="button" class="button button--outline-green">BUTTON</button>
					<button type="button" class="button button--outline-teal">BUTTON</button>
					<button type="button" class="button button--outline-cyan">BUTTON</button>
				</div>
			</section>
			<!-- //DEMO -->

			<!-- CODE -->
			<h3 class="components__title title--h5">HTML</h3>
			<section class="components__item--code">
				<pre class="brush: html">
					<div class="button__group">
						<button type="button" class="button button--outline">BUTTON</button>
						<button type="button" class="button button--outline-blue">BUTTON</button>
						<button type="button" class="button button--outline-indigo">BUTTON</button>
						<button type="button" class="button button--outline-purple">BUTTON</button>
						<button type="button" class="button button--outline-pink">BUTTON</button>
						<button type="button" class="button button--outline-red">BUTTON</button>
						<button type="button" class="button button--outline-orange">BUTTON</button>
						<button type="button" class="button button--outline-yellow">BUTTON</button>
						<button type="button" class="button button--outline-green">BUTTON</button>
						<button type="button" class="button button--outline-teal">BUTTON</button>
						<button type="button" class="button button--outline-cyan">BUTTON</button>
					</div></pre>
			</section>
			<!-- //CODE -->
		</section>
		<!-- //아웃라인 -->

	</section>

	@@include('./incl/footer.inc')

</body>
</html>