@@include('./incl/page-top.inc')
	<title>UI Lab &#124; HEADLINE</title>
	<link rel="stylesheet" href="../common/css/uilab-library.css">
	<!-- Syntax highlighter -->
	<link type="text/css" rel="stylesheet" href="../common/lib/syntaxhighlighter/styles/shCoreDefault.css">
	<link type="text/css" rel="stylesheet" href="../common/lib/syntaxhighlighter/styles/shThemeDefault.css">
	<!-- //Syntax highlighter -->
</head>
<body>

	@@include('./incl/header.inc')

	<section class="components">
		<h1 class="components__title title--h1">headline</h1>

		<!-- 기본 -->
		<section class="components__item">
			<h2 class="components__title title--h4">DEFAULT</h2>

			<!-- DEMO -->
			<h3 class="components__title title--h5">DEMO</h3>
			<section class="components__item--demo">
				<h1 class="title title--h1">First Header</h1>
				<h2 class="title title--h2">Second Header</h2>
				<h3 class="title title--h3">Third Header</h3>
				<h4 class="title title--h4">Fourth Header</h4>
				<h5 class="title title--h5">Fifth Header</h5>
				<h6 class="title title--h6">Sixth Header</h6>
				<p class="title">Default Header</p>
			</section>
			<!-- //DEMO -->

			<!-- CODE -->
			<h3 class="components__title title--h5">HTML</h3>
			<section class="components__item--code">
				<pre class="brush: html">
					<h1 class="title title--h1">First Header</h1>
					<h2 class="title title--h2">Second Header</h2>
					<h3 class="title title--h3">Third Header</h3>
					<h4 class="title title--h4">Fourth Header</h4>
					<h5 class="title title--h5">Fifth Header</h5>
					<h6 class="title title--h6">Sixth Header</h6>
					<p class="title">Default Header</p></pre>
			</section>
			<!-- //CODE -->
		</section>
		<!-- //기본 -->

	</section>

	@@include('./incl/footer.inc')

</body>
</html>