<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3">
    <link rel="stylesheet" href="css/common.css">
    <title></title>
</head>
<body>

<div class="container zoom-in-out">
    <!--
        class="rows" : 행 추가
        class="cols" : 열 추가
        class="two" : 행이든지 열이든지 2개만 추가할 때
        class="three" : 행이든지 열이든지 3개만 추가할 때
        class="four" : 행이든지 열이든지 4개만 추가할 때
    -->

    <!-- first page of tiles -->
    <div class="two rows" id="first-page">
        <div class="four cols">
            <div class="tile pic2">
                <div class="content">UI</div>
            </div>
            <div class="tile pic1">
                <div class="content">L</div>
            </div>
            <div class="tile pic2">
                <div class="content">A</div>
            </div>
            <div class="tile pic1">
                <div class="content">B</div>
            </div>
        </div>
        <div class="three cols">
            <div class="tile pic0">
                <div class="content">A</div>
            </div>
            <div class="tile pic3">
                <div class="content">N</div>
            </div>
            <div class="tile pic1">
                <div class="content">I</div>
            </div>
        </div>
    </div>

    <!-- second page of tiles -->
    <div class="two rows" id="second-page">
        <div class="four cols">
            <div class="tile pic0">
                <div class="content">M</div>
            </div>
            <div class="tile pic3">
                <div class="content">A</div>
            </div>
            <div class="tile pic1">
                <div class="content">T</div>
            </div>
            <div class="tile pic2">
                <div class="content">I</div>
            </div>
        </div>
        <div class="two cols">
            <div class="tile pic0">
                <div class="content">O</div>
            </div>
            <div class="tile pic1">
                <div class="content">N</div>
            </div>
        </div>
    </div>
</div>

</body>
</html>